
@page "/AdoptionRequestList"
@using Client.Model
@using Client.Authentication
@inherits AdoptRequestListRazor
@inject AuthenticationStateProvider _authenticationStateProvider


<AuthorizeView Policy="MustBeVeterinarian">
    <table>
        <tr>
            <th>Request ID</th>
            <th>Pet owner ID</th>
            <th>Animal ID</th>
            <th>Date</th>
            <th>Animal name</th>
            <th>Status</th>
        </tr>
        @if (AdoptRequests != null)
        {
            @foreach(var adoptRequest in AdoptRequests)
            {
                if (adoptRequest.Approve==false)
                {
                    <tr>
                        <td>@adoptRequest.RequestId</td>
                        <td>@adoptRequest.UserId</td>
                        <td>@adoptRequest.AnimalId</td>
                        <td>@adoptRequest.DateTime</td>
                        <td>@adoptRequest.AnimalName</td>
                        <td class="AcceptReject">
                            <td class="accept"><i class="fas fa-check" @onclick="() => AcceptRequest(adoptRequest)"></i></td>
                            <td class="reject"><i class="fas fa-times" @onclick="() => RejectRequest(adoptRequest)"></i></td>
                        </td>
                    </tr>
                }
            }
        }        
    </table>
</AuthorizeView>

<AuthorizeView Policy="MustBePetOwner">
    <table>
        <tr>
            <th>Request ID</th>
            <th>Veterinarian ID</th>
            <th>Animal ID</th>
            <th>Date</th>
            <th>Animal name</th>
            <th>Status</th>
        </tr>
    
        @if (AdoptRequests != null)
        {
            @for (var i = 0; i < AdoptRequests.Count; i++)
            {
                if (((CustomAuthenticationStateProvider)_authenticationStateProvider).getCachedUser().userId == AdoptRequests[i].UserId.userId)
                {
                    <tr>
                        <td>@AdoptRequests[i].RequestId</td>
                        <td>@AdoptRequests[i].VeterinarianId</td>
                        <td>@AdoptRequests[i].AnimalId</td>
                        <td>@AdoptRequests[i].DateTime</td>
                        <td>@AdoptRequests[i].AnimalName</td>
                        <td>@StatusText[i]</td>
                    </tr>
                }
            }
        }        
    </table>
</AuthorizeView>

