@page "/CreateAccountMain"
@layout LoginCreateAccountLayout
@using Client.Model
@inherits CreateAccountMainRazor
@inject EndUser _endUser

		<div class="container-login">
			<div class="wrap-login">
				
				<span class="login-title">
					<b>Create Account</b>
				</span>
			
				<div class="wrap-input">
						<span class="label-input">Email</span>
					<input class="input" type="text" name="username" placeholder="Type your email" @bind="_endUser.Email" @onkeyup="@Enter">
					<div style="color: red">@emailError</div>

						<span class='focus-input'></span>
						<i class="fas fa-envelope"></i>
				</div>
				<div class="wrap-input">
				<span class="label-input">Username</span>
				<input class="input" type="text" name="username" placeholder="Type your username" @bind="_endUser.UserName" >
				<span class='focus-input'></span>
				<i class="fas fa-user-alt"></i>
			</div>
			<div style="color: red">@userNameError</div>

				
					<div class="wrap-input">
						<span class="label-input">Password</span>
						<input class="input" type="password" placeholder="Type your password" @bind="_endUser.Password" @onkeyup="@Enter">
						<span class="focus-input"></span>
						<i class="fas fa-lock"></i>
					</div>
			<div class="wrap-input">
				<span class="label-input">Password confirmation</span>
				<input class="input" type="password" placeholder="Confirm your password" @bind="PasswordConfirmation">
				<span class="focus-input"></span>
				<i class="fas fa-lock"></i>
			</div>
			<div style="color: red">@passwordError</div>

				<div class="wrap-login-btn">
					<div class="login-bgbtn"></div>
					<button @onclick="CheckUserName" class="login-btn">
						Continue
					</button>
				</div>
				
				<div class="wrap-SignUp">	
					<a @onclick="LoadLogIn" class="signUp" href="#">LogIn</a>
				</div>

			</div>
		</div>

	