@page "/ViewAnimal"

@using System.Diagnostics.Eventing.Reader
@inherits ViewAnimalRazor

<div class="site">
	<div class="top-side">
		<div class="picture-div">
			<Img class="picture" src="photo_picture.png" alt="image of uploaded animal"/>
		</div>
		<div class="right-side">
			<div class="wrap-input">
				<span class="label-input"><b>Animal type: </b></span>
				<text>@AnimalType</text>
				<span class="focus-input"></span>
			</div>		
			<div class="wrap-input">
				<span class="label-input"><b>ID: </b></span>
				<text>@Id</text>
				<span class="focus-input"></span>
			</div>					
			<div class="wrap-input">
				<span class="label-input"><b>Age: </b></span>
				<text>@Age</text>
				<span class="focus-input"></span>
			</div>					
			<div class="wrap-input">
				<span class="label-input"><b>Washed: </b></span>
				<i class="@WashedIcon"></i>
			</div>
			<div class="wrap-input">
				<span class="label-input"><b>Fed: </b></span>
				<i class="@FedIcon"></i>
			</div>
			<div class="wrap-input">
				<span class="label-input"><b>Vaccinated: </b></span>
				<i class="@VaccinatedIcon"></i>
			</div>
		</div>
	</div>
	<div class="bot-side">
		<div class="description-div">
			<span class="description-text"><b>Description: </b></span>
			<text class="description-area">@Description</text>
			<span class="focus-input"></span>
		</div>
		<div class="wrap-login-btn" >
			<div class="login-bgbtn"></div>
			<button class="login-btn">
				Adopt
			</button>
		</div>
	</div>
</div>