@page "/ViewSpecificAnimal/{Value}"

@using Client.Model
@inherits ViewSpecificAnimalRazor

<div class="top-side">

	<div class="picture-div">
		<img class="picture" src="@ShownImage" alt="Upload photo">
	</div>

	<div class="right-side">
		<table>
			<tr>
				<td><b>Animal type</b></td>
				<td>@AnimalType</td>

			</tr>
			<tr>
				<td><b>Animal ID</b></td>
				<td>@Id</td>
			</tr>
			<tr>
				<td><b>Age</b></td>
				<td>@Age</td>
			</tr>
			<tr>
				<td><b>Washed</b></td>
				<td><i class="@WashedIcon"></i></td>
			</tr>
			<tr>
				<td><b>Fed</b></td>
				<td><i class="@FedIcon"></i></td>
			</tr>
			<tr>
				<td><b>Vaccinated</b></td>
				<td><i class="@VaccinatedIcon"></i></td>
			</tr>
		</table>
	</div>
</div>
<div class="bot-side">
	<div class="description-div">
		<text class="description-text"><b>Description: </b></text>
		<text class="description-area">@Description</text>
	</div>
</div>
<div class="bot-side">
	<div class="description-div">
		<text class="description-text"><b>Health Notes: </b></text>
		<text class="description-area">@healthNotes</text>
	</div>
</div>

@*Pop up window*@
<div class="modal fade" id="AdoptAnimaPopUpWindow" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Animal name</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Type in animal's new name:
				<input type="text" @bind="@AnimalName" @onkeyup="@Enter"/>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary"  data-dismiss="modal" @onclick="MakeAdoptionRequest">Adopt</button>
			</div>
		</div>
	</div>
</div>

